<!--head.js used to store head design-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/about.css" rel="stylesheet">

</head>

<body>
    <%- include('../layouts/navigation.ejs')%>
        <!--1st section-->
        <section class="intro-about">
            <div class="intro">
                <h1 class="intro-title">get to know us</h1>
                <p class="who-link"><a href="#who-section"> Who</a></p>
                <p class="why-link"><a href="#why-section"> Why</a></p>
                <p class="how-link"><a href="#how-section"> How</a></p>
            </div>
        </section>


        <!--who section-->
        <section class="brand-info1" id="who-section">
            <div class="who">
                <h1 class="who-title">WHO</h1>
                <p class="who-p">
                    Drnk is a brand that sells alcoholic beverages from various brands, including different types of beer, gin, brandy, and mixed drinks.

                </p>
            </div>
        </section>

        <!--why section-->
        <section class="brand-info2" id="why-section">
            <div class="why">
                <h1 class="why-title">Why</h1>
                <p class="why-p">
                    It has partnerships with major brands, allowing it to be a direct distributor of beverages. Reduces the cost. Which is beneficial when purchasing in bulk for parties and events.
                </p>
            </div>
        </section>

        <!--how section-->
        <section class="brand-info3" id="how-section">
            <div class="how">
                <h1 class="how-title">How</h1>
                <p class="how-p">
                    Delivery within a day. Rates vary according to location.
                </p>
            </div>
        </section>






        <!--1st section about us-->
        <section class="title-section">
            <div class="sec1-content">
                <h1 class="sec1-text1">Let's get Drnk</h1>
                <p class="sec1-text2"><a href="#content">Say Hello!</a></p>
            </div>
        </section>


        <!--2nd section abput us-->
        <section class="second-section" id="content">
            <div class="profile">

                <img src="https://i.pinimg.com/736x/02/df/69/02df69be5c726cd7cfae3338c9f75527.jpg" alt="Blossom" class="profile-img1">
                <img src="/images/thebar-pink.png" alt="" class="fave-drink-img1">

                <p class="name1"> hEeeey, Im <br><span class="span-text1"> Charlize Mikaela Nadela </span></p>
                <p class="about1"> I am a big fan of Gin. That is whyyy I love the bar pink. I have looots of drnk stories. If you're interested hit meee upppasdfghjkl
                </p>
                <p><a href="https://www.facebook.com/charlzndl" class="fb-link">Facebook</a></p>
            </div>
        </section>


        <!--3rd section about us-->
        <section class="third-section">
            <div class="profile">

                <img src="https://i.pinimg.com/originals/9c/94/62/9c94629569608366c40cc228c393abe4.jpg" alt="Bubbles" class="profile-img2">
                <img src="/images/yakult.png" alt="" class="fave-drink-img2">
                <img src="/images/soju-fresh.png" alt="" class="fave-drink-img3">
                <p class="name2"> Hi, Im <br><span class="span-text2">Kristine Ella Rojas</span></p>
                <p class="about2"> 2 shots and I'm blushing, yet I love mix-drinks like soju with yakult. I'm always G, if my friends ask me to join! or maybe not, byeee sorrryy curfew.
                </p>
                <p><a href="https://www.facebook.com/krisellaaaa" class="fb-link">Facebook</a></p>
            </div>
        </section>

        <!--4th section about us-->
        <section class="fourth-section">
            <div class="profile">
                <img src="https://i.pinimg.com/originals/fe/1c/37/fe1c37931f6572bf692b4e3d91e689b1.jpg" alt="Buttercup" class="profile-img3">
                <img src="/images/gsm-blue.png" alt="" class="fave-drink-img4">
                <p class="name3"> Hello, Im <br><span class="span-text3">Justyn Rubante</span></p>
                <p class="about3"> I'm a big fan of gin, and my personal favorite is GSM Blue. I never get wasted, but where's the camera? I need to record this!
                </p>
                <p><a href="https://web.facebook.com/rayzelrubs" class="fb-link">Facebook</a></p>
            </div>
        </section>

        <!--5th section abput us-->
        <section class="fifth-section" id="content">
            <div class="profile">

                <img src="https://pbs.twimg.com/profile_images/378800000416437633/061d1184ac0e904a1057b62636d380c3_400x400.png" alt="Mojojo" class="profile-img5">
                <img src="/images/alfonso-light.png" alt="" class="fave-drink-img5">

                <p class="name5"> Hey, Im <br><span class="span-text5"> Kelly Soberano </span></p>
                <p class="about5"> I love brandy like Alfonso light. I'm the most sane person at the inuman in-short caretaker. Where's the mirophone, I need to sing!
                </p>
                <p><a href="https://web.facebook.com/DuCouteau64" class="fb-link">Facebook</a></p>
            </div>
        </section>




        </div>

</body>

</html>