<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="../public/css/product_container.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" 	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <%- include('./layouts/navigation_admin.ejs')%>

    <div class = "container">
        <form action="/admin/add-product" method="POST">
            <h2> Add Product </h2>
            <div class = "content">
                <div class = "input-box">
                    <label for = "product"> Product: </label>
                    <input type="text" placeholder="Enter Product Name" name="product">
                </div>
                <div class = "input-box">
                    <label for = "price"> Price: </label>
                    <input type="text" placeholder="Enter Price" name="price">
                </div>
                <div class = "input-box">
                    <label for = "volume"> Volume: </label>
                    <input type="vol" placeholder="Enter Volume" name="volume">
                </div>
                <div class = "input-box">
                    <label for = "brand"> Brand: </label>
                    <input type="text" placeholder="Enter Brand Name" name="brand">
                </div>
                <div class = "input-box">
                    <label for = "sku"> Stocks: </label>
                    <input type="number" placeholder="Enter Stock" name="sku">
                </div>
                <div class = "input-box">
                    <label for = "imageURL"> Image URL: </label>
                    <input type="text" placeholder="Enter Image URL" name="imageURL">
                </div>

                <div class="button-container"> 
                    <button type="submit"> ADD PRODUCT </button>
                </div>
            </div>
        </form>
    </div>
    
    
</body>
</html>